<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <narbe_free_shipping_config>
            <content>
                <valueFreeShipping>100</valueFreeShipping>
                <messageDefault>Darmowy transport przy zamówieniu powyżej</messageDefault>
                <messageItemsInCart>Do darmowego transportu brakuje Ci</messageItemsInCart>
                <messageFreeShipping>Twoje zamówienie zostanie dostarczone za darmo</messageFreeShipping>
                <enabled>1</enabled>
            </content>
        </narbe_free_shipping_config>
    </default>
</config>
